.toolbar{
  position: sticky;
  top:0;
  z-index: 1000;
  font-size: 1.5rem;
  color: $color-white;
  background:$color-postman-background ;//linear-gradient(to top, #434343 , #000000);
  transition: all 1s;
  & .nav{
    display: flex;
    align-items:center;
  }
  @include respond(phone){
    font-size: 1.5rem;
    font-weight: bold;
  }
}
.openToolbar{
  // color:$color-link;
  margin-left: 30rem;
  transform: rotate(180deg);
  @include respond(phone){
      margin-left: 25rem;
    }
}
.closeToolbar{
  transform: rotate(0deg);
}
