.dark-btn{
  display: inline-block;
  font-size: 2rem;
  margin: 2rem 0;
  padding: 1.5rem 2.5rem;
  // background: rgba($color-grey-dark-3,1);
  backface-visibility: hidden;
  &:hover{
    animation: shake .5s ease-out;
  }
  @include respond(phone){
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem 2.5rem;
  }
}
input{
  height: 5rem;
}
