.search-btn{
  height:6rem;
  width:40rem;
  background:rgba($color-link,.9);
  color:$color-orangered;
  margin:3rem auto;
  display:block;
  text-align:center;
  border:.2rem solid rgba($color-orangered,.5);
  font-size: 3rem;
  transition: all .5s;
  @include respond(phone){
      width:30rem;
  }
  &:focus{
    outline:none;
    border: .2rem solid rgba($color-orangered,.9);
  }
}
