.projectItem{
  box-shadow: .5px .5px 5px rgba($color-grey-dark-3,.2);
  background: rgba($color-link,.9);
  border: 2px solid rgba($color-orangered,.5);
  padding: 0;
  display: flex;
  margin: 3rem 0;
  @include respond(phone){
    flex-flow: column;
    margin: 1rem 0;
  }
  &__details{
    flex-grow: 1;
    // background: $color-warning;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &-col1{
      flex-grow: 3;
    }
    & .h3{
      display: block;
      background-image: linear-gradient(to right bottom,$color-orangered,$color-orangered );
      color:transparent;
      background-clip: text;
      letter-spacing: 1.5px;
      font-size: 4rem;
      font-weight: lighter;
      margin-bottom: 1rem;
      @include respond(phone){
        letter-spacing: 1px;
        font-size: 2.5rem;
      }
    }

    & .p{
      display: block;
      background-clip: text;
      background-image: linear-gradient(to right bottom,$color-orangered,$color-orangered );
      color:transparent;
      letter-spacing: 1.5px;
      font-size: 1.5rem;
      font-weight: normal;
      margin-bottom: 1rem;
      @include respond(phone){
        letter-spacing: 1px;
        font-size: 1.5rem;
      }
    }
    &-col2{
      flex-grow: 1;
      // text-align: right;
      align-self: baseline;
      // height: 100%;
      color: $color-grey-light;
      display: flex;
      align-items: flex-end;
    }
  }
  &__edits{
    font-size: 2.5rem;
    &-list{
      // padding: 1rem 2rem;
       list-style: none;
    }
    &-item{
      padding: 1.5rem 2.5rem;
      transition: all .2s;
    }
    &-board{
      color: $color-Spring-green;
      background-clip: text;
      &:hover{
        background: rgba($color-Spring-green,1);
        color: $color-white;
      }
    }
    &-update{
      color: $color-react-blue;
      &:hover{
        background: rgba($color-react-blue,1);
        color: $color-white;
      }
    }
    &-delete{
      color: $color-sass-pink;
      &:hover{
            background: rgba($color-sass-pink,1);
            color: $color-white;
      }
    }
  }
}
