.dashboard{
  height: 100%;
  padding: 3rem 0;
  width: 80%;
  align-self:flex-start;
  &__heading{
    font-size: 6rem;
    font-weight: 100;
    margin-bottom: 2rem;
    color: $color-orangered;
  }
  @include respond(tab-port){

  }
  @include respond(phone){
    width: 95%;
    &__heading{
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 1rem;
    }
  }
}
