.projectBoard__todo,.projectBoard__inDevelopment,.projectBoard__completed{
  // background: rgba($color-lightblue,.8);
  flex-grow: 1;
  // clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
